.card {
    transition: all 0.3s ease;
    border: 2px solid ;
    cursor: pointer;
    width: 18rem;
    background-color: rgb(203, 203, 239);
    margin:10px
}

.card img {
  width: 50%;
  height: 50%;
  object-fit: cover; /* Ajusta la imagen sin deformarla, rellenando el espacio */
  object-position: center; /* Centra la parte principal de la imagen */
}
.cardHeader {
	background-color: #28a745;
	color: white;
}

.boton{
    background-color: blue;
    padding: 10px;
    margin:20px;
    border-radius: 8px;
}